name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  php-lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - name: Check PHP Syntax
      run: find . -name "*.php" ! -path "*/vendor/*" -print0 | xargs -0 -n1 php -l

    - name: Check JavaScript Syntax
      run: find js -name "*.js" -print0 | xargs -0 -n1 node --check
